/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Variables */
:root {
	/* Light mode colors */
	--color-blue: #0079ff;
	--color-grey: #697c9a;
	--color-light-blue: #4b6a9b;
	--color-black-variant-1: #2b3442;
	--color-white-variant-1: #f6f8ff;
	--color-white-variant-2: #fefefe;

	/* Dark mode colors */
	--color-white: #ffffff;
	--color-black: #141d2f;
	--color-black-variant-2: #1e2a47;
}

.theme-light {
	--color-primary: var(--color-white-variant-1);
	--color-secondary: var(--color-black);
}
.theme-dark {
	--color-primary: var(--color-black);
	--color-secondary: var(--color-white);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* Utilities */

/* Theme Implementation */
.theme-container {
	display: flex;
	flex-flow: row;
	width: fit-content;
	position: relative;
}

/* Checkbox */
/* Moved checkbox behind label and changed appearance to none */
.theme-container input[type='checkbox'] {
	position: absolute;
	width: 100%;
	height: 100%;
	appearance: none;
	z-index: -1;
}

.theme-container label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	z-index: inherit;
	padding: 0.25rem;
}

.theme-container label img {
	object-fit: contain;
}

.theme-container label:hover {
	cursor: pointer;
}

/* Main Styling */
body {
	font-size: 1.5rem;
	font-family: 'Space Mono', monospace;
	padding: 1rem;
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
}
